Subject: Airtime Notification 

{{> header}}
<p style="font-size:1rem;font-weight:bold">Hello {{ recipient }},</p>
<p style="font-size:1rem;">You've just received an airtime top-up from {{ sender }}</p>
<br />
{{> footer}}